@import '../../../node_modules/font-awesome/css/font-awesome.css';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

@import './fonts.scss';

body {
	background : #fff url(../img/bg.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 30px;
	font-family: 'Oswald', sans-serif;
}

@import './mainLoader.scss';
@import './header.scss';
@import './sidebar.scss';
@import './formLogin.scss';
@import './formCreateAccount.scss';
@import './block.scss';
@import './blockAccounts.scss';

.content {
	padding : 15px 0;
	margin-left: 360px;
}

.content__pages {
	padding-top: 15px;
}

.content__pages {
    margin-top: 15px;
    max-height: 565px;
    overflow-y: scroll;
    padding-right: 10px;
	.alert-danger {
		font-weight: bold;
		background-color: rgba(248, 215, 218, 0.64);
		border-color: #f5c6cb;
		border: 0;
		border-radius: 0;
	}

	.card {
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 0;
		border: 0;

		.card-title {
			a {
				color: #000;
			}
		}
	}
}

button {
	&:hover {
		cursor: pointer;
	}
}

.btn {
	&:hover {
		cursor: pointer;
	}
}

::-webkit-scrollbar {
    width: 6px;
}

.container-fluid {
	>.row {
		margin-right: 0;
	}
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.4); 
}