.block {
	.header {
		font-size: 20px;
		text-align: center;
		padding: 10px 0;
	}
}

.block__audio {
    z-index: 1;
    position: relative;

	.name {
		font-style: italic;
		font-size: 12px;
		line-height: 28px;
		white-space: nowrap;
		text-align: right;
	}

	.controls {
		float: right;
		.btn {
			padding: 1px 7px;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

.block__serverDisplay {
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 0 5px;
    box-shadow: inset 0 6px 16px rgba(0, 0, 0, 0.48);

    .prefix {
    	font-weight: bold;
    	padding-right: 5px;
    }
}