.block__accounts {
	.block__body {
		max-height: 400px;
		overflow: hidden;
		overflow-y: scroll;
	}
	.block__row {
		&.is_premium {
			color: gold;
		}
		overflow: hidden;
		padding: 3px 10px;
		background: rgba(0, 0, 0, 0.3);
		transition: all .1s ease-in-out;
		&:hover {
			background: rgba(0, 0, 0, 0.6);
		}
		.name {
			float: left;
		}
		.right {
			float: right;
			.btn {
				padding: 1px 7px;
			}
		}
	}
}