.form__createAccount {
	.header {
		font-size: 20px;
		text-align: center;
		padding: 10px 0;
	}
	.form-group {
		padding: 0;

		.form-control {
			padding: 8px 12px;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			border: 1px solid #000;
			background: rgba(45, 45, 45, 0.56);
			box-shadow: 0 1px 3px #333, inset 0 1px 3px #444;
			color: #e1e1e1;

			&:focus {
				box-shadow: 0 1px 3px #333, inset 0 1px 3px #333;
				color: #fff;
			}

			&.is-valid {
				border: 1px solid #1c961b;
			}

			&.is-invalid {
				border: 1px solid #961b1b;
			}
		}

		.alert {
			padding: 3px 7px;
			font-size: 14px;
		}
	}
}