.navbar {
	z-index: 1051;
	position: relative;
	background: #333;
	color: #fdfdfd;
}

.navbar-overlay {
	-webkit-app-region: drag;
	position: absolute;
	left: 0; top:0; z-index: 1;
	width: 100%;
	height:56px;
	// background:#f00;
	width:80%;
}

.navbar-controls {
	position: relative;
	z-index: 2;
	top: 0; left: 0;

	.btn {
		background: none;
		color: #fff;
		font-size: 20px;
		padding: 0;
		color: #fff;
		transition: all .1s ease-in-out;
		&:hover {
			color: #a7a7a7;
			cursor: pointer;
		}
	}
}

.navbar-brand {
	.circle {
		width: 10px;
		height: 10px;
		display: block;
		float: left;
		background: gray;
		border-radius: 50%;
		margin-right: 10px;
		position: relative;
		top: 11px;
	}
	.connect {
		font-size: 11px;
		padding-left: 10px;
		font-style: italic;
	}
}