.part__main_loader {
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.52);
		z-index: 1050;
	}
	.box {
		width: 150px;
		position: absolute;
		z-index: 1051;
		color: #fff;
		text-align: center;
		left: 50%;
		margin-left: -80px;
		top: 50%;
		margin-top: -70px;
		background: rgba(0, 0, 0, 0.35);
		padding: 10px;

		.box_ico {
			&.text-success {
				color: #65ff88 !important;
			}
		}

		.box_msg {
			margin-top: 5px;
		}

		.box_submsg {
			margin-top: -3px;
			font-size: 12px;
			font-style: italic;
		}
	}
}