.sidebar {
    height: 100%;
    width: 360px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.58);
    color: #fdfdfd;
    position: fixed;
    top: 56px;
}

.sidebar__authorized {
	// padding : 25px;
}